body {
    font-family: 'Verdana', sans-serif;
    margin: 0px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    background: #0d0f23;
	margin: 0 auto;
    padding: 45px 50px;
}


header h1 {
    margin-top: -25px;
	float: left;
    color: #4f656b;
    font-weight: normal;
    font-size: 42px;
}
nav {
	font-weight: bolder;
	float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #f1fbfe;
}
